In [1]:
import pandas as pd
import os
schools_csv = os.path.join('raw_data', 'schools_complete.csv')
students_csv = os.path.join('raw_data', 'students_complete.csv')
schools_df = pd.read_csv(schools_csv)
students_df = pd.read_csv(students_csv)

In [2]:
schools_df = schools_df.rename(columns = {'name':'school'})
schools_df.columns

Index(['School ID', 'school', 'type', 'size', 'budget'], dtype='object')

In [3]:
schools_df.head()

   School ID                 school      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

## District summary:
* Total Schools
* Total Students
* Total Budget
* Average Math Score
* Average Reading Score
* % Passing Math
* % Passing Reading
* Overall Passing Rate (Average of the above two)

In [4]:
total_info_df = pd.merge(students_df, schools_df, on='school')
total_info_df.head()

,Student ID,name,gender,grade,school,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [5]:
total_info_df['school'].unique()
print("The number of total schools:" , len(total_info_df['school'].unique()))

The number of total schools: 15

In [6]:
total_students = len(total_info_df)
print("The number of total students:", str(total_students))

The number of total students: 39170

In [24]:
school_budget_df = total_info_df.groupby(['school', 'budget']).sum().reset_index()
school_budget_df = school_budget_df[['school', 'budget']]
school_budget_df['budget'].sum() #Total district budget
school_budget_df #total budget per school

                   school   budget
0      Bailey High School  3124928
1     Cabrera High School  1081356
2    Figueroa High School  1884411
3        Ford High School  1763916
4     Griffin High School   917500
5   Hernandez High School  3022020
6      Holden High School   248087
7       Huang High School  1910635
8     Johnson High School  3094650
9        Pena High School   585858
10  Rodriguez High School  2547363
11    Shelton High School  1056600
12     Thomas High School  1043130
13     Wilson High School  1319574
14     Wright High School  1049400

In [8]:
total_info_df['reading_score'].mean()

81.87784018381414

In [9]:
total_info_df['math_score'].mean()

78.98537145774827

### Calculating the number of students passing math and reading
    I use a for-loop to loop through each item in a column, then a conditional (if) statement to count the number of grades over 70 to get the total number of students passing math.
    Then I divide that passing number by the total number of students in the district to get the percentage of students passing either subjects.

In [10]:
passing_math = 0
for each in total_info_df.math_score:
    if each > 70:
        passing_math += 1
print("Total students passing math ")
print(passing_math)

Total students passing math
28356

In [11]:
print("Percentage of students passing math: ")
print(passing_math/total_students * 100)

Percentage of students passing math:
72.39213683941792

In [12]:
passing_reading = 0
for each2 in total_info_df.reading_score:
    if each2 > 70:
        passing_reading += 1
print("Percentage of students passing reading: ")
print(passing_reading/total_students * 100)

Percentage of students passing reading:
82.97166198621395

#### Another way to get the percentage passing math or reading via adding a boolean column/grouping
    Another way to get the percentage is to create another dataframe which creates a column of true/false variables based on any score over 70.  Then merging that dataframe to the "total" dataframe based on 'student_id'.
    After merging, I will then group the 'True/False' variables via 'groupby' and then call the 'sum' method to count the numbers of each variable.

In [13]:
passing_math_df = pd.DataFrame(total_info_df['math_score']>70).rename(columns={'math_score':'passing_math'})
passing_math_df = passing_math_df.reset_index().rename(columns={'index':'Student ID'})
total_info_df = pd.merge(passing_math_df, total_info_df, on='Student ID')
#total_info_df.head()

In [14]:
passing_reading_df = pd.DataFrame(total_info_df.reading_score > 70).rename(columns={'reading_score':'passing_reading'})
passing_reading_df = passing_reading_df.reset_index().rename(columns={'index':'Student ID'})
total_info_df = pd.merge(passing_reading_df, total_info_df, on='Student ID')

In [15]:
passing_reading_df2 = total_info_df.groupby("passing_reading").count()
# passing_reading_df2

In [18]:
passing_reading_df2.loc[True, 'Student ID']/(total_students)

0.8297166198621394

In [19]:
passing_math_df2 = total_info_df.groupby('passing_math').count()
passing_math_df2.loc[True, 'Student ID']/total_students

0.7239213683941792

### Creating a new column calculating overall passing (average of math and reading)

In [20]:
total_info_df['overall_passing'] = (total_info_df['reading_score']+total_info_df['math_score'])/2

In [64]:
#total_info_df.head()

In [23]:
overall_passing_df = total_info_df.loc[total_info_df['overall_passing'] > 70]
len(overall_passing_df)

34561

In [26]:
overall_passing_rate = len(overall_passing_df)/total_students
overall_passing_rate

0.8823334184324738

### Top Performing Schools (By Passing Rate)

* Create a table that highlights the top 5 performing schools based on Overall Passing Rate. Include:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per School Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

* The total_info_df has all of the info needed, so a 'groupby' function is called, then take the 'mean' to get the average 'overall_passing'.  Values are sorted by 'overall_passing' to get the top 5 schools.  When this was done, I noticed that the true-false values were also averaged, hence it translated to a %passing_math and % passing_reading, hence no formula was needed (true values are 1 and false values are 0, hence if 3/5 students are passing, then there are 3 ones and 2 zeros, both of which will add to 60% passing rate).

In [58]:
overall_passing_info_df = total_info_df.loc[total_info_df['overall_passing']>70].groupby("school").mean().sort_values('overall_passing', ascending=False)
#total_school_info_df = total_info_df.groupby(["school","type","size"]).sum(total_info_df['overall_passing']>70)
top_5_overall_passing_schools = overall_passing_info_df.head(5)
print("Top 5 performing schools based on Overall Passing Rate: ")
top_5_overall_passing_schools

Top 5 performing schools based on Overall Passing Rate:

,Student ID,passing_reading,passing_math,reading_score,math_score,School ID,size,budget,overall_passing
school,,,,,,,,,
Pena High School,23754.290391,0.932418,0.929250,84.263992,84.074974,9.0,962.0,585858.0,84.169483
Holden High School,23060.228571,0.933333,0.921429,84.038095,84.061905,8.0,427.0,248087.0,84.050000
Wright High School,25135.074635,0.941077,0.911897,84.097643,83.833895,10.0,1800.0,1049400.0,83.965769
Thomas High School,38354.146402,0.941687,0.913151,84.051489,83.624069,14.0,1635.0,1043130.0,83.837779
Wilson High School,14870.684374,0.939796,0.918105,84.139442,83.426737,5.0,2283.0,1319574.0,83.783090

In [59]:
overall_passing_info_df2 = total_info_df.loc[total_info_df['overall_passing']>70].groupby("school").mean().sort_values('overall_passing')
overall_passing_info_df2.head(5)

,Student ID,passing_reading,passing_math,reading_score,math_score,School ID,size,budget,overall_passing
school,,,,,,,,,
Rodriguez High School,28018.542754,0.843684,0.749475,82.832283,79.761476,11.0,3999.0,2547363.0,81.296880
Huang High School,1461.549180,0.859836,0.736885,83.323361,79.464344,0.0,2917.0,1910635.0,81.393852
Figueroa High School,4395.287398,0.854472,0.743902,83.319919,79.560163,1.0,2949.0,1884411.0,81.440041
Ford High School,36156.273325,0.846693,0.768725,82.872098,80.081472,13.0,2739.0,1763916.0,81.476785
Bailey High School,20377.612431,0.861531,0.749220,83.074634,79.908327,7.0,4976.0,3124928.0,81.491481

In [63]:
grade_year_info_df = total_info_df.groupby(['grade']).mean()
grade_year_info_df

,Student ID,passing_reading,passing_math,reading_score,math_score,School ID,size,budget,overall_passing
grade,,,,,,,,,
10th,19526.197384,0.831727,0.723938,81.874410,78.941483,6.957809,3320.842742,2.109723e+06,80.407946
11th,19718.880454,0.827643,0.725735,81.885714,79.083548,7.032697,3327.886333,2.113090e+06,80.484631
12th,19458.792885,0.825294,0.723889,81.819851,78.993164,6.925054,3332.978478,2.116915e+06,80.406507
9th,19609.303910,0.832749,0.722388,81.914358,78.935659,6.986764,3348.049264,2.127695e+06,80.425009